[submodule "gfg-gpe-service-skeleton"]
	path = gfg-gpe-service-skeleton
	url = https://github.com/GFG/gfg-gpe-service-skeleton.git
[submodule "gfg-gpe-service-approval"]
	path = gfg-gpe-service-approval
	url = https://github.com/GFG/gfg-gpe-service-approval.git
[submodule "manofletters"]
	path = manofletters
	url = https://github.com/GFG/manofletters.git
